<div class="center-form">
  <%= form_for @user do |f| %>
    <%= render "shared/error_messages", object: @user %>
    <%= f.label :name %>
    <%= f.text_field :full_name, class: "form-control" %>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= f.label :change_avatar, class: "mt-16" %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01"><%= t "upload"%></span>
      </div>
      <div class="custom-file">
        <%= f.file_field :avatar, class: "form-control file" %>
        <label class="custom-file-label" for="user_avatar"><%= t "choose_file"%></label>
      </div>
    </div>
    <%= f.submit yield(:button_text), class: "btn btn-primary mt-16" %>
  <% end %>
</div>
