<div class="jumbotron">
  <h3><%= t ".search_title" %></h3>
  <%= form_tag users_path, method: :get do %>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= text_field :filter, :email_search, value: params.dig(:filter, :email_search), class: "form-control", placeholder: t(".email") %>
    </div>
    <div class="input-group mt-16">
      <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
      <%= text_field :filter, :full_name_search, value: params.dig(:filter, :full_name_search), class: "form-control", placeholder: t(".name") %>
    </div>
    <%= submit_tag t(".search"), class: "btn btn-success mt-16" %>
  <% end %>
</div>
