<% provide :title, t(".title") %>
<%= render("shared/users_filter", url: users_path) %>
<h1 class="text-center"><%= t ".users_list" %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".email" %></th>
      <th><%= t ".full_name" %></th>
      <th><%= t ".role" %></th>
      <th><%= t ".date_created" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%== pagy_bootstrap_nav @pagy %>
