<% provide :title, t(".title") %>
<%= render("departments_filter") %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= t ".title" %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t ".id" %></th>
            <th><%= t ".department_name" %></th>
            <th><%= t ".date_created" %></th>
            <th><%= t ".last_updated" %></th>
            <th><%= t ".edit" %></th>
            <th><%= t ".delete" %></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><%= t ".id" %></th>
            <th><%= t ".department_name" %></th>
            <th><%= t ".date_created" %></th>
            <th><%= t ".last_updated" %></th>
            <th><%= t ".edit" %></th>
            <th><%= t ".delete" %></th>
          </tr>
        </tfoot>
        <tbody>
          <%= render @departments %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%== pagy_bootstrap_nav @pagy %>
