<% provide :title, @department.name %>
<div class="center jumbotron">
  <h1><%= @department.name %></h1>
  <%= gravatar_for @department, Settings.department.avatar_width, Settings.department.avatar_height %>
  <h2>
    <%= t @department.description %>
  </h2>
  <%= form_tag new_relationship_path, method: :get do %>
    <%= hidden_field_tag :department_id, "", value: @department.id, class: "form-control", placeholder: t(".email") %>
    <% if current_user.admin? || user_manager?(current_user, @department) %>
      <%= submit_tag t(".add_show"), name: nil, class: "btn btn-lg btn-info" %>
      <%= link_to t(".view_reports"), department_reports_path(@department.id), method: :get, class: "btn btn-lg btn-success" %>
    <% elsif employee?(current_user, @department) %>
      <%= link_to t(".new_reports"), new_department_report_path(@department.id), method: :get, class: "btn btn-lg btn-primary" %>
      <%= link_to t(".view_reports"), department_reports_path(@department.id), method: :get, class: "btn btn-lg btn-success" %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to t(".delete"), @department, method: :delete,
        data: { confirm: t(".delete_confirmation") }, class: "btn btn-lg btn-danger" %>
    <% end %>
  <% end %>
</div>
<% if @users.any? %>
  <div>
    <h3><%= "#{t(".total_member")} (#{@pagy.count})" %></h3>
    <ul class="users">
      <%= render partial: "user", collection: @users, as: :user %>
    </ul>
    <%== pagy_bootstrap_nav @pagy %>
  </div>
<% end %>
